*{
  margin: 0px;
  padding: 0px;
}


.cabeçalho{
  background-color: whitesmoke ;
  color: rgb(80, 79, 79);
  display: flex ;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
}
.LINK{
  text-decoration: none;
  color: rgb(80, 79, 79);
}

.logotipo{
  width: 25%;
}
.cabeçalho-lista-iten{
  display: inline-block;
  margin: 50px 30px;
  font-size: 17px;
}

 
                                                                     /*corpo do texto*/

body{
  font-family: 'Poppins', sans-serif;
}

.plano-de-fundo{
  background-image: linear-gradient(black,rgb(80, 79, 79));
  color: white;
  display: flex;
  align-items: center;
  padding: 0 0 30% 0;
}


                                                                   /*pagina ganho de massa*/

.GANHO-DE-MASSA{
  width: 75%;

}
.img-GAN-MASSA{
  display: flex;
  justify-content: end;
  padding: 60px 0 0 0;
}
.GANHO-DE-MASSA-alimentos{
  padding: 60px 0;
}
.img-GAN-001{
  width: 30%;
} 


                                                                   /*pagina: perda de gordura*/

.PERDA-DE-GORDURA-alimentos{
  padding: 60px 0;
}

                                                                    /*roda pé*/

.roda-pé{
  background-color: whitesmoke;
  padding: 15px;
  color: black;
  font-size: 30px;
}
.redes-sociais{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-roda-pé{
  margin: 10px;
  padding: 5px;
  width: 30px;
  height: auto;
}

